body{
  background-image: url("../src/abstract_music_notes_background_1706.jpg");
}
#image{
  background-image: url("../src/home_img.jpg");
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;

}